# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#下面這兩個在freeglut跟opencv都會用到，就放行吧
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
